
* {
	box-sizing: border-box;
}

body {
	background-color: #006677;  
	background-image: url("images/background/background.jpg");
	margin-left: 30%;
	margin-right: 30%;
}

.background{
	height:100vh;	
	background-color: grey;
	background-image: url("images/background/background1.jpg");

}
.logo img{
	width: 200px;
}

/*panel de botones*/
.panel {	
	background-color: black;
	padding: 10px;

}
.panel_btn{
	
	color: white;
	padding: 15px 15px;	
	text-decoration: none;
	display: inline-block;	

}
.btn_logout{
	float: right;
	padding: 7px 15px;


}
/*Galeria de fotos*/
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 150px;

}

.gallery:hover {
	border: 1px solid #777;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
}

form{
	margin-left: 20px;
}
