
* {
	box-sizing: border-box;
}

body {
	background-color: #006677;  
	background-image: url("images/background/background.jpg");
	margin-left: 30%;
	margin-right: 30%;
}

.background{
	height:100vh;	
	background-color: grey;
	background-image: url("images/background/background1.jpg");

}
.logo img{
	width: 200px;
}

/*panel de botones*/
.panel {	
	background-color: black;
	padding: 10px;

}
.panel_btn{
	
	color: white;
	padding: 15px 15px;	
	text-decoration: none;
	display: inline-block;	

}
.btn_logout{
	float: right;
	padding: 7px 15px;


}
/*Galeria de fotos*/
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 150px;

}

.gallery:hover {
	border: 1px solid #777;
}

.gallery img {
	width: 100%;
	height: 120px;
}

.desc {
	padding: 15px;
	text-align: center;
}

form{
	margin-left: 20px;
}


.input_form {

	margin: auto;
	margin-top: 20%;
	width: 50%;
	border: 3px solid black;
	padding: 10px;

}
.textbox01{
	width: 300px;
	margin: 0 auto;
}
.button1{
	float:right;
	margin-right: 10%;
	margin-bottom: 20%;
	background-color: black;
	color:white;
	width: 50px;
	height: 30px;
}